<p id="notice"><%= notice %></p>

<h1>Listing Sample Colors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sample_colors.each do |sample_color| %>
      <tr>
        <td><%= link_to 'Show', sample_color %></td>
        <td><%= link_to 'Edit', edit_sample_color_path(sample_color) %></td>
        <td><%= link_to 'Destroy', sample_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample color', new_sample_color_path %>
